/*============================
=            grid            =
============================*/

/**

	BASED ON:
	postcss-mesh: https://github.com/SlimMarten/postcss-mesh

	@mesh-grid-NAME{
		display-type: inline-block;
		gutter: 30px;
		column-align: 'tbd';
		column-count: 12;
		column-justify: 'tbd';
		container-width: fluid;
		compile-default-classes: true;
		mobile-first: true;

		@mesh-viewport-VIEWPORTNAME {
			viewport: 1200px;
			container-width: 1170px;
		}

		...
	}

*/

@mesh-grid {
	// column-align: "tbd";
	// column-justify: "tbd";
	column-count: 12;
	compile-default-classes: true;                  // true || false
	container-width: 100%;                          // px || % || calc(% +/- px)
	viewport: 375px;                                // px
	display-type: inline-block;                     // inline-block || flex || float
	gutter-on-outside: false;                       // true || false
	responsive-padding: true;                       // true || false
	gutter: 30px;                                   // px
	query-condition: min-width;                     // min-width || max-width
	name: mesh;                                     // ""

	@mesh-viewport-lg {
		container-width: calc(100% - 30px);           // px || % || calc(% +/- px)
		viewport: 1200px;                             // px
	}

	@mesh-viewport-md {
		container-width: 970px;                       // px || % || calc(% +/- px)
		viewport: 992px;                              // px
    gutter: 20px;                                 // px
	}

	@mesh-viewport-sm {
		container-width: 750px;                       // px || % || calc(% +/- px)
		viewport: 768px;                              // px
	}
}

/*=====  End of grid  ======*/
