/*============================
=            grid            =
============================*/

@mesh-grid {
	// column-justify: "tbd";
	column-align: bottom;                           // top || midle || bottom
	column-count: 12;                               // int
	compile-default-classes: true;                  // true || false
	container-width: 100%;                          // px || % || calc(% +/- px)
	viewport: 375px;                                // px
	display-type: flex;                     // inline-block || flex || float
  gutter-on-outside: false;                       // true || false
	responsive-padding: true;                       // true || false
	gutter: 30px;                                   // px
	query-condition: min-width;                     // min-width || max-width
	name: mesh;                                     // ""

	@mesh-viewport-lg {
		container-width: 94.46494%;           // px || % || calc(% +/- px)
    viewport: 1200px;                             // px
	}

	@mesh-viewport-md {
    container-width: 970px;                       // px || % || calc(% +/- px)
		viewport: 992px;                              // px
    gutter: 20px;                                 // px
	}

	@mesh-viewport-sm {
		container-width: 750px;                       // px || % || calc(% +/- px)
		viewport: 768px;                              // px
	}
}

/*=====  End of grid  ======*/
