@mesh-grid {
	column-count: 12;
	compile: true;
	container-width: 100%;
	display-type: float;
	exclude-columns: 1,2;
	exclude-debug-styles-enabled: true;
	exclude-debug-styles-prop: border;
	exclude-debug-styles-value: 1px solid yellow;
	exclude-offsets: 3,4;
	exclude-pulls: 5,6;
	exclude-pushes: 7,8;
	gutter-on-outside: true;
	gutter: 30px;
	name: mesh;
	naming-column: col;
	naming-container: container;
	naming-offset: off;
	naming-pull: pull;
	naming-push: push;
	naming-void: row;
	query-condition: min-width;
	responsive-gutter: false;
	use-name-prefix: false;

	@mesh-viewport-sm {
		container-width: 540px;
		viewport: 576px;
	}

	@mesh-viewport-md {
		container-width: 720px;
		viewport: 768px;
	}

	@mesh-viewport-lg {
		container-width: 960px;
		viewport: 992px;
	}

	@mesh-viewport-xl {
		container-width: 1140px;
		viewport: 1200px;
	}
}
