/*============================================
=            grid - configuration            =
============================================*/

// columnCount
:root{
   --columnCount: 12;                     // defines amount of columns
}

// breakpoints
$breakpoint-sm: 768;
$breakpoint-md: 1024;
$breakpoint-lg: 1200;
$breakpoint-xlg: 1560;

// gutter-width
$gutter-width: 30;                        // defines space between two columns

// wrapper-size
$wrapper-size-xs: 290;                    // defines width of wrapper for vp >= $breakpoint-sm
$wrapper-size-sm: 510;                    // defines width of wrapper for vp >= $breakpoint-sm
$wrapper-size-md: 930;                    // defines width of wrapper for vp >= $breakpoint-md
$wrapper-size-lg: 1140;                   // defines width of wrapper for vp >= $breakpoint-lg
$wrapper-size-xlg: 1440;                   // defines width of wrapper for vp >= $breakpoint-xlg

/*=====  End of grid - configuration  ======*/
