/*=====================================
=            grid - mixins            =
=====================================*/

// mesh-column
@mixin mesh-column($colCount) {
   float: left;
   padding: 0 calc($gutter-width/2)px 0 calc($gutter-width/2)px;
   width: calc($colCount/(var(--columnCount)) * 100%);
}


// mesh-row
@mixin mesh-row {
   display: block;
   margin: 0 calc($gutter-width/-2)px 0 calc($gutter-width/-2)px;
   width: calc(100% + $(gutter-width)px);

   &::after{
      content:'';
      display: block;
      clear: both;
   }
}

// mesh-container
@mixin mesh-container($maxWidth) {
   @if $maxWidth != 0{
      margin: 0 auto;
      max-width: calc($maxWidth + $gutter-width)px;
      padding: 0 calc($gutter-width/2)px 0 calc($gutter-width/2)px;
      width: 100%;
   }

   &::after{
      content:'';
      clear: both;
      display: block;
   }
}

/*=====  End of grid - mixins  ======*/